h1{
   font-size: 10;
   color: blue; 
   text-align: center;
   margin-top: 70px;
}
#addNewTask{
  width: 100%;
  border: 3px solid #333;
  margin: -8px;
  
}

#inputAuth{
  width: 20%;
  float: left;
  margin: -8px;
  text-align: center;
  background-color: rgba(123, 123, 123, 0.5);
}

#listInLeft{
  width: 80%;
  float: right;
  margin: -8px;
 
}
.para{
   color: aqua;
}
.button{
   color: rgb(236, 241, 246);
   background-color: rgb(78, 116, 214);
   text-align: center;
   border-radius: 5px;
   border-width: 0ch;
   }   
#add_task{
   height: 30px;
   width: 80px;
}
.button1{
   text-align: center;
}


#searchTerm{
   width: 250px;
  border: 3px solid #00B4CC;
   padding: 5px;
  height: 20px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;


  }

 .searchbutton{
   width: 30px;
   height: 35px;
   border: 1px solid #00B4CC;
   background: #00B4CC;
   color: #fff;
   cursor: pointer;
   font-size: 20px;

 
 }

 .wrap{
   background-color: #4d4dc4;
   height: 60px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;

 }
 .inputAuth{
   margin-left: 550px;
 
 }

 .input{
   width: 175px;
   border: 3px solid #00B4CC;
   height: 30px;
 }

 .section { height: 100vh;}
 .section—first { height: 90vh; }

 li{
   padding: 8px;
   border: 1px solid #333;
   margin: 10px auto;
   background-color: rgb(225, 248, 237);
   margin: -4px;
 }

 #select{
   position: relative;
 }

 #menuEdit{
   position: absolute;
   bottom: 3px;
   right: 0;
 }

 #menuEdit{
  display: block;
 }

 .barButton{
  background-color: #4d4dc4;
  color: white;
  border: none;
  font-size: 17px;
  position: relative;
 }

 #close{
  background-color: #4d4dc4;
  color: white;
  border: 1px solid white;
 }

 #ulOfSort{
  position: absolute;
  top: -2px;
  left: 5px;
  color: black;
  font-size: 10px;
  border-style: none;
 }

 #saveEdit{
  text-align: center;
 }